@charset "utf-8";
/* CSS Document */

body {
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:100%;
	height:100%;
	max-height:100vh;
	background-color:#b30a10;
	}
#wrap {
	margin:auto
	padding:0 0 0 0;
	width:960px;
}	
#headerArea {
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:100%;
	}	

#mainArea {
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:100%;
	vertical-align:middle;
	}

#mainArea .logo {
	margin: 0 auto;
	padding:0 0 0 0;
	width:400px;
	height:400px;
	}

#mainArea .logo svg {
	margin:0 0 0 0;
	padding:0 0 0 0;
	}
	
#mainArea h1 {
	margin:-20px 0 0 0;
	padding:0 0 0 0;
	font-size:47px;
	font-family: "Myriad Web Pro", "Myriad Pro", Myriad, "Segoe UI", "Verdana", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000000;
	font-weight:bold;
	line-height:1.2;
	text-align:center;
	}

#mainArea h2 {
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:35px;
	font-family: "Myriad Web Pro", "Myriad Pro", Myriad, "Segoe UI", "Verdana", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000000;
	font-weight:bold;
	line-height:1.2;
	text-align:center;
	}
	
#mainArea h2 a {
	color:#ffffff;
	text-decoration:none;
	}

#footerArea {
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:100%;
	}
	
span {
	color:#ffffff;
	}
